<%- include('includes/header', { page: 'map' }) %>

<div class="container">

  <h3 class="header">Traffic Camera Map</h3>

  <div id="camera-map-container"></div>

</div>

<script>

const cameras = <%- cameras %>;

</script>

<%- include('includes/footer') %>
