<%- include('includes/header') %>

<h3 class="header">Data Visualization</h3>

<!-- <div class="container"> -->

<div class="row">

  <div class="col-12 row" style="background-color: yellow; height: 200px;">

    <div class="col-12" style="background-color: orange; height: 100px;"></div>
    <div class="col-12" style="background-color: red;; height: 100px;"></div>

  </div>

  <div class="col-12 row" style="background-color: green; height: 200px;">

    <div class="col-12" style="background-color: purple; height: 100px;"></div>
    <div class="col-12" style="background-color: gray; height: 100px;"></div>

  </div>

  <div class="col-12 row" style="background-color: blue; height: 200px;">

    <div class="col-12" style="background-color: magenta; height: 100px;"></div>
    <div class="col-12" style="background-color: lightblue; height: 100px;"></div>

  </div>

</div>

<!-- </div> -->

<%- include('includes/footer') %>
