<%- include('includes/header', { page: 'stream' }) %>

<div class="row">
    <div class="col-12">
        <h3 class="header"><strong>Live Stream</strong></h3>
    </div>
</div>

<div class="row">
    <div class="col-2">
        <h4>Details</h4>
        <ul>
            <li>Lorem</li>
            <li>Ipsum</li>
            <li>Dolor</li>
            <li>Sit</li>
        </ul>
    </div>

    <div class="col">
        <div id="video-feed">
            <img id="play">
            <div id="logger"></div>
        </div>

        <script>

        document.title = "Home";
        var client = io();
        client.emit('join', 'hello world from client');
        client.emit('run_stream', {temp: "something"});
        client.on('messages', (data) => {
            console.log('messages: '+data);
        });
        client.on('output', (data) => {
            console.log(data);
            // $("#result1").append(data);
            // var elem = document.getElementById('left_data');
            // elem.scrollTop = elem.scrollHeight;
        });
        client.on('stream',function(image){
            var img = document.getElementById("play");
            img.src = image;
            var log = document.getElementById("logger");
            // $("#logger").text(image);
        });
        client.on('outputs_1',function(image){
            var img = document.getElementById("play");
            img.src = image;
            var log = document.getElementById("logger");
            // $("#logger").text(image);
        });

        </script>
    </div>

    <div class="col-2">
        <h4>Cameras</h4>
        <ul>
          <% cameras.forEach(function(camera, index) { %>
              <li><a href="?id=<%= index + 1 %>"><%= camera.name %></a></li>
          <% }); %>
        </ul>
    </div>
</div>


<%- include('includes/footer') %>
