/* ---------- */
/* header.ejs */
/* ---------- */
body {
    font: sans-serif;
    font-family: 'Raleway', sans-serif;
    background-color: hsla(172, 60%, 34%, 0.459);
}

#navbarResponsive > .navbar-nav > li {
    float: left;
    list-style: none;
    /* margin: 0 8px; */
}


/* --------------- */
/* live-stream.ejs */
/* --------------- */
#live-stream {
    display: flex;
}

#title-banner {
    text-align: center;
    clear: both;
}

#left-side-nav,
#right-side-nav {
    flex: 25%;
}

#video-feed {
    flex: 50%;
    text-align: center;
    padding: 10px 0;
    background: #77bbb2;
}

#video-feed > iframe { 
    min-height: 378px;
    min-width: 620px;
    border: 1px dashed black;
}

#left-side-nav,
#right-side-nav {
    border: 2px solid black;
    background: #77bbb2;
}

#left-side-nav > ul > li,
#right-side-nav > ul > li {
    border: 2px solid black;
    color: #ffffff;
    list-style: none;
    margin: 40px 0;
}

#left-side-nav > ul > h2,
#right-side-nav > ul > h2 {
    color: #ffffff;
}