/* ------- */
/* GENERAL */
/* ------- */
body {
  font: sans-serif;
  font-family: 'Raleway', sans-serif;
}

#camera-map-container,
#heatmap-container {
  height: 550px;
}

.header {
  margin-top: 20px;
  text-align: center;
}

#play,
#video-feed {
  background-color: black;
  height: 30rem;
}

#play {
  display: block;
}
